/* components */


.white{background-color:#FFFFFF;  }
.orange{background-color:orange;  }
.green{background-color:green;    }
.blue{background-color:blue;      }
.red{background-color:red;        }
.brown{background-color:brown;    }
.yellow{background-color:yellow;  }
.eee{background-color:#EEEEEE;    }
.ddd{background-color:#DDDDDD;    }
.aaa{background-color:#AAAAAA;    }

