NODE_ENV=development
PORT=5010
REDIS_PREFIX=template_

CLIENT_URL=http://localhost:3010

# DB_CLIENT: 'mysql' or 'pg'
DB_CLIENT=mysql

DB_HOST_MYSQL=localhost
DB_PORT_MYSQL=3306
DB_USER_MYSQL=root
DB_PASSWORD_MYSQL=your_mysql_password
DB_NAME_MYSQL=vsp_v2

PHOTO_STORAGE_PATH=../private_storage

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Security
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

COOKIE_SECURE=true
COOKIE_SAME_SITE=Strict
COOKIE_SECRET=your_cookie_secret_here

DB_POOL_MIN=2
DB_POOL_MAX=15
UV_THREADPOOL_SIZE=8
